:root{
    font-size: 20px;
}

*{
    box-sizing: border-box;
    color: #fff;
}

body{
    font-family: 'Open Sans', sans-serif;
    min-width: 400px;
    background: #1f2937;
    margin: 0;

}

nav{
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111827;
}

#nav-left{
    padding-left: 20px;
    padding-right: 20px;
}

#nav-right{
    display: flex;
    height: 100%;
    align-items: center;
}

.nav-elem{
    display: flex;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: 10px;
}

main{
    width: 100%;
    display: flex;
    justify-content: center;
}

#middle-section{
    display: flex;
    min-width: 700px;
    width: 70%;
    justify-content: center;
    position: relative;
    top: 70px;
    flex-direction: column;
}

.post{
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid var(--main-accent-color);
    margin-bottom: 50px;
    padding: 10px;
    background: #111827;
    border-radius: 10px;
}
.post-author{
    font-weight: bold;
    font-size: 1rem;
}

.post-content{
    width: 100%;
    padding: 20px;
    font-size: 0.75rem;
}

nav a{
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
}

#login-button{
    background: #2563eb;
}

#login-button:hover{
    background: #1d4ed8;
}

#register-button{
    background: #1f2937;
}

#register-button:hover{
    background: #374151;
}